{% extends 'layaout.html' %}

    {% block content %}

    <div class="d-flex flex-wrap">
        {% for post in posts %}
        <div class="card" style="width: 18rem;">
            <img src="{{post.image.url}}" class="card-img-top  img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.description|truncatechars:100}}</p>
              <a href="{% url 'blog:post_detail' post.id  %}" class="btn btn-success">Ver más</a>
            </div>
          </div>
        {% endfor %}
    {% endblock %}