<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset your password</title>
</head>
<body>
    <h1>Restablece tu contraseña</h1>
    <p>
        Hemos enviado un email a tu correo para que puedas restablecer tu contraseña. <br>
        Si no te ha llegado nada, por favor asegúrate de que ingresaste el correo correcto.
    </p>
</body>
</html>