{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Restablece tu contraseña</h1>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class='btn'>Change Your Password</button>
    </form>
    {% else %}
    <p>
        El link para restablecer tu contraseña es invalido, posiblemente porque <br>
        ya ha sido usado, por favor solicite un nuevo link.
    </p>
    {% endif %}
</body>

</html>