body{
    background-image: url('../static/images/paisaje5.jpeg');
    background-repeat: no-repeat;
    background-size: 2000px 1080px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height:800px;
    color:white;
}