body{
    background-image: url('../static/images/paisaje4.jpeg');
    background-repeat: no-repeat;
    background-size: 2000px 1080px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height:800px;
    color:white;
}
.btn{
    width:200px;
    height: 30px;
    border-color:black;
    background-color: white;
}
.btn:hover{
    color:brown;
    border-width: 2.5px;
    cursor: pointer;
}
@media  screen and (max-width:800px) {
    body{
        background-image: url('../static/images/imagen1.jpeg');
        background-size: 500px 900px;
        width: 350px;
        height: 600px;
        color: black;
    }
}
