body{
    background-image: url('../static/images/imagen5.jpeg');
    background-repeat: no-repeat;
    background-size: 2000px 1080px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height:800px;
    color:white;
}
a{
    color: white;
}
@media screen and (max-width: 800px){
    body{
        background-image: url('../static/images/imagen6.jpeg');
        background-size: 500px 900px;
        width: 350px;
        height: 600px;
        color: whitesmoke;
        text-align: center
    }
}