.nav-link{
    color: green;
    font-size: 18px;
    font-weight: bold
}
.navbar {
    padding: 1rem;
    background-color: white;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.btn {
        position:relative;
        left:45px;
        top:-80px;
        background-color: #279704;
        border-radius: 25%;
        margin: 10px;
        display:flex;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        font-weight: bold; 
        font-size: 18px;
    }

    h1{
        color: #87045f;
        font-size: 30px;
        font-weight: bold;
        align-items: center;
        display:flex;
        justify-content: center;
    }

    h3{
        font-size: 22px;
        display:flex;
        justify-content: center;
    }

    .verde {
        background-color: #b0dc8d;
        padding: 0.5rem;
        
    }
    
    .btn2{
        position:relative;
        left:4px;
        top:0.5px;
    }

    .verde2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 0.2s ease-in;
      }

      .verde2 .columna:hover {
        color: white;
        background-color: #C4F4B9;
        
      }

      .verde2 .mujeres-titulo {
        color: #87045f;
        font-size: 20px;
        font-weight: bold;
      }

      .verde2 .niños-titulo {
        color: #cd6200;
        font-size: 20px;
        font-weight: bold;
      }

      .verde2 .adolescentes-titulo {
        color: #279704;
        font-size: 20px;
        font-weight: bold;
      }

      .donaciones .corazon-titulo {
        color: #279704;
        font-size: 20px;
        font-weight: bold;
       ;
      }

      .donaciones .impacto-titulo {
        color: #87045f;
        font-size: 20px;
        font-weight: bold;
      }

      .donaciones .vidas-titulo {
        color: #cd6200;
        font-size: 20px;
        font-weight: bold;
       
      }

      .donaciones .corazon {
        position:relative;
        top:100px;
      }

      .donaciones .impacto {
        position:relative;
        top:10px;
      }

      .donaciones .vidas{
        position:relative;
        top:100px;
      }

    
    @media only screen and (max-width: 762px) {
        
        .verde{
            padding: 2rem 2rem 2rem 2rem;
            
        }
        

        .verde2 .niños {
            position: relative;
            left:80px;
            top:-25px;
          }

          .verde2 .adolecentes {
            position: relative;
            right:85px;
            top: -230px;
          }

          .btn2{
            position:relative;
            left:4px;
            top:-240px;
        }

      .donaciones .corazon {
        position: relative;
        top:15px;
      }

      .donaciones .vidas {
        position: relative;
        top:5px;
      }
    
      .blanco{
        position: relative;
        top:-230px;
        background-color: white;
      }

   } 